/*  
Author: Glen Nguyen 
File Name: styles.css
Date: 10/05/2023
*/

/*
CSS Reset
*/

body, header, nav, main, footer, img, h1, h3 {
  padding:0;
  margin:0;
  border:0;
}

/*
Style rules for body and images
*/

body {
 background-color: #f6eee4;
}

img {
 max-width: 100%; display: block ;
}

/* 
Style rules for mobile viewport
 */

 .mobile {
  display: block;
}

/* 
Style rules to show mobile class and hide tab-desk class
 */

.tab-desk {
  display: none;
}

/* 
Style rules for header area
 */

h1 {
  padding: 2%;
  text-align: center;
  font-family: 'Emblema+One';
}

h3 {
  padding: 2%;
  text-align: center;
  font-family: 'Lora';
}

/*
Style rules for navigation area
*/

nav {
 background-color: #2a1f14;
}

nav ul {
 list-style: none;
 margin: 0;
 text-align: center;
}

nav li {
 display: inline-block;
 font-size: 1.5em;
 font-family: Geneva, Arial, sans-serif;
 font-weight: bold;
}

nav li a {
 display: block;
 color: #f6eee4;
 padding-top: 0.5em;
 padding-bottom: 0.5em;
 padding-left: 2em;
 padding-right: 2em;
 text-decoration: none;
}

/*
Style rules for main content
*/

main {
 padding: 2%;
 font-family: Verdana, Arial, sans-serif, 'Lora';
 font-size: 1.25em;
}

main p {
 font-size: 20px;
}

main h3 {
 padding-top: 2%;
}

main ul {
 list-style-type: square;
 font-size: 0.8em;
}

/*
Style rules for class and id selectors
*/

.link {
 color:#4d3319;
 text-decoration: none;
 font-weight: bold;
 font-style: italic;
}

.action {
 font-size:1.75em;
 font-weight: bold;
 text-align: center;
}

#contact {
 text-align: center;
}

/* Style rules for footer content */
footer {
 text-align: center;
 font-size: 0.85em;
 background-color: #2a1f14;
 color: #f6eee4;
 padding-top: 1%;
 padding-bottom: 1%;
 padding-left: 0%;
 padding-right: 0%;
}

footer a {
 color: #f3e6d8;
 text-decoration: none;
}
